<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://klabfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1a380a66-3f7f-4c88-b84d-0852c8d7fa0a/resourceGroups/KLabFunctionsGroup/providers/Microsoft.Web/sites/KLabFunctions</ResourceId>
    <UserName>$KLabFunctions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://klabfunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>